@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

.product-detail {
    padding: 100px;
    padding-top: 80px;
}

.detail {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.title {
    font-size: 60px;
    padding: 5px;
    color: #000033;
    margin-top: 100px;
    margin-left: 180px;

    font-family: 'Share Tech', sans-serif;

}

.sub-title {
  font-size: 34px;
  padding: 5px;
  color: #000033;

   margin-bottom: 50px;
   margin-left: 180px;
   font-family: 'Share Tech', sans-serif;

   margin-bottom: 20px;
}
.author {
  margin-bottom: 5px;
  margin-left: 180px;
}

div.detail {
    padding-bottom: 200px;
}
.description {
   
    padding: 10px;
    letter-spacing: .9px;
    margin-top: 50px;
    width: 70%;
    align-self: center;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.product-detail-image {
    width: 70%;
    align-self: center;
    height: 40%;
    border: 1px solid black;
    border-radius: 5px;
    

}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.edit-button {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 40px;
    width: 20%;
    align-self: center;
    margin-top: 40px;
    background-color: #000033;
    color: white;
    border: none;
    box-shadow: 2px 2px 10px 2px #CECECE;
    cursor: pointer;
    
}

.edit-link {
    color: white;
}

@media (max-width: 1024px) {
    .name {
        font-size: 32px;
    }
   
    .product-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 420px) {
  .title {
    font-size: 34px;
    margin-top: 120px;
    color: #000033;
    margin-left: 25px;
}

.sub-title {
  font-size: 22px;
  padding: 5px;
  color: #000033;
  margin-left: 25px;
}


.description {
    padding: 10px;
    letter-spacing: .9px;
    width: 100vw;
}
    .product-detail-image {
        width: 100%;
       
    }
    .product-detail {
        padding: 0px;
        padding-top: 120px;
        margin: 0px;
      
    }
    .button-container {
        
        padding: 20px;
        padding-bottom: 80px;
    }
    .edit-button{
        width: 40%;
    }
}