@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

/* .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 0px 3px 1px #CECECE;
    transition: 250ms all;
    padding: 20px;
    margin-bottom: 60px;
} */

div.product {
  padding-bottom: 100px;
}

.product:hover {
    transform: scale(1.02);
    opacity: .9;
}

span.author{
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: bold;
  font-style: italic;

}
.small-text{
  font-style: italic;
}


.button{
  margin-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 0px 3px 1px #CECECE;
    transition: 250ms all;
    padding: 20px;
    margin-bottom: 60px;
   
    
}


.product-image {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    height: 300px;
}



.product-description {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  
}
.hot-blog{
  margin-left: 50px;
  margin-top: 50px;
}

.product-name {
    font-size: 36px;
    padding: 10px;
    font-family: 'Share Tech', sans-serif;
    color: #000033;
}

.price {
    font-size: 18px;
    padding: 10px;
}

@media (max-width: 500px) {
    .product {
        width: 500px;
        margin-bottom: 20px;
        margin-left: 100px;
    }
    .product-image {
        width: 250px;
        margin: 15px;
        padding: 10px;
        height: 150px;
        margin-right: 100px;
    }
    
    .product-description {
      font-family: Arial, Helvetica, sans-serif;
      max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    margin-left: 30px;
    font-size: 11px;
  }
  
  


}