.search-form {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    position: relative;
    margin-left: 30px;
}

.search-input {
    width: 20vw;
    font-size: 18px;
    letter-spacing: 0.1px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 10px;
    
}

.search-input::placeholder {
    letter-spacing: .3px;
}

@media (max-width: 414px) {
    .search-input {
        width: 10px;
        margin-right: 27px;
       
    }
    .search-form {
        width: 10px;
       
    }
}